    /*
     * Light Theme
     */
    .light,
    .light .panel-left {
      background-color: #fff;
    }    
    .light .panel-right {
      background-color: #f6f6f6;     
    }     
    .light .table-col {
      font-weight: 400 !important;
    }
    .light .selected {
      background-color: #edf1f6;
    }  

.light .panel-default > .panel-heading {
  background: #eff1f4;
}
.light .panel-heading {
  border-top-left-radius: 0; 
  border-top-right-radius: 0;
}
.light .note-editor.note-frame .note-editing-area .note-editable {
  background-color: #eff1f4;
}
.light .note-editor.note-frame .note-statusbar {
    background-color: #eff1f4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.light .notify-container-meta-title > span,
.light .notify-container-meta-keywords > span,
.light .notify-container-meta-desc > span,
.light .notify-container-desc > span,
.light .notify-container-name > span {
  color:#000 !important;
}