dl:after
{
	content: '';
	display: block;
	clear: both;
}
dt, dd
{
	display: block;
	padding: 10px 0;
	margin: 0;
	float: left;
}
dt
{
	width: 30%;
	clear: left;
}
dd
{
	width: 70%;
}
dd + dt,
dd + dt + dd
{
	border-top: 1px solid #ccc;
}


.page:hover
{
	position: relative;
	z-index: 2;
}

