/**
  @package    catalog::templates::css
  @author     Loaded Commerce, LLC
  @copyright  Copyright 2003-2020 Loaded Commerce Development Team
  @copyright  Portions Copyright 2003 osCommerce
  @copyright  Template built on DevKit http://www.bootstraptor.com under GPL license
  @license    https://github.com/loadedcommerce/loaded-wrapper/blob/master/LICENSE.txt
  @version    $Id: template.css v1.0 2019-08-08 datazen $
 *
 * Base stylesheet
 *
 * Content:
 * 1. Global
 * 2. Basic elements/styles
 * 3. Typography
 * 4. Lists & tags
 * 5. Main layout elements
 * 6. Main layout styles
 * 7. Error styles
 * 8. Utility classes
 * 9. Site Maintenance masking
 * 10. Media query styles
 */

/********************************************************/
/*                       1. Global                      */
/********************************************************/

#loaded-wrapper {
  font-family: 'Roboto', sans-serif;
}

/********************************************************/
/*               2. Basic elements/styles               */
/********************************************************/

#loaded-wrapper {
  padding-top: 0px;
  padding-bottom: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#loaded-wrapper .box-header {
  margin-left: -5px;
  text-transform: uppercase;
  font-size: 1.2em;
}

#loaded-wrapper .btn-set {
  clear: both;
  margin: 20px 0px;;
}

#loaded-wrapper .well {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#loaded-wrapper .thumbnail {
  margin-bottom: 0px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#loaded-wrapper .carousel-inner > .carousel-item > img, #loaded-wrapper .carousel-inner > .carousel-item > a > img {
  min-width: 100%;
}

#loaded-wrapper .strong {
  font-weight: bold;
}

#loaded-wrapper .normal {
  font-weight: 200;
}

#loaded-wrapper .no-decoration {
  text-decoration: none !important;
}

#loaded-wrapper .no-wrap {
  white-space: nowrap !important;
}

#loaded-wrapper .form-input-width {
  width: 96% !important;
}

/*#loaded-wrapper input[type=text] {
  width:98%;

}*/

#loaded-wrapper input[type=password] {
  width:98%;
}

#loaded-wrapper select {
  width:98%;
}

#loaded-wrapper .img-responsive {
  margin: auto !important;
}

#loaded-wrapper .img-logo-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

#loaded-wrapper .popover.left {
  margin-left: -25px;
}

/********************************************************/
/*                    3. Typography                     */
/********************************************************/

#loaded-wrapper h1, #loaded-wrapper h2, #loaded-wrapper h3, #loaded-wrapper h4, #loaded-wrapper h5, #loaded-wrapper  h6 {
  font-weight: 200;
}

#loaded-wrapper .highlight-color {
  color: #66afe9;
}

#loaded-wrapper .red {
  color: #ff0000;
}

#loaded-wrapper .lt-blue {
  color: #0088cd;
}

#loaded-wrapper .white {
  color: #ffffff;
}

#loaded-wrapper .black {
  color: #000000;
}

#loaded-wrapper .no-text-decoration {
  text-decoration: none;
}

/********************************************************/
/*                  4. Lists & tags                     */
/********************************************************/

#loaded-wrapper .list-indent {
  padding-left: 8px;
}

#loaded-wrapper .list-indent-large {
  padding-left: 10px;
}

/********************************************************/
/*             5. Main layout elements                  */
/********************************************************/

#loaded-wrapper #login input {
  width: 97%;
}

#loaded-wrapper #page {
  width: 60px;
}

/********************************************************/
/*             6. Main layout styles                    */
/********************************************************/

/* header/nav */
#loaded-wrapper .topnav {
  width: 100%;
  min-height: 35px;
  background-color: #222222;
  list-style: none outside none;
  margin-bottom: 0;
  padding-left: 0;
}

#loaded-wrapper .topnav .nav-item {
  font-size: 13px;
  padding: 8px 0 0 25px;
}

#loaded-wrapper .topnav .nav-item > li {
  float: right;
  list-style: none;
}

#loaded-wrapper .topnav .nav-item > li > a {
  color: #999999;
  text-decoration: none;
}

#loaded-wrapper .topnav .nav-item > li > a:hover, #loaded-wrapper .topnav .nav-item > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}

#loaded-wrapper .topnav .nav-item > .dropdown > a:hover .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}

#loaded-wrapper .topnav .nav-item > .open > a {
  /*background-color: #080808;*/
  color: #FFFFFF;
}

#loaded-wrapper .topnav .nav-item > .dropdown > a .caret {
  border-bottom-color: #999999;
  border-top-color: #999999;
}

#loaded-wrapper .topnav .locale-header-dropdown {
  margin-top: 8px;
}

#loaded-wrapper .topnav .account-dropdown {
  margin-top: 8px;
}

#loaded-wrapper .topnav .cart-dropdown {
  //left: -125px;
  margin-top: 8px;
}

#loaded-wrapper .topnav .locale-header-dropdown > li, #loaded-wrapper .topnav .account-dropdown > li {
  width: 100%;
}

#loaded-wrapper .topnav .locale-dropdown-lang-image {
  position: relative;
  top: -1px;
}

#loaded-wrapper .topnav .locale-dropdown-lang-title {
  margin-left: 4px;
}

#loaded-wrapper .topnav .locale-header-icon {
  position: relative;
  top: -1px;
}

#loaded-wrapper .topnav .locale-header-currency {
}

#loaded .account-dropdown > ul > li {
  width: 100%;
}

#loaded-wrapper .locale-menu {
  list-style: none;
}

#loaded-wrapper .chat-menu {
  list-style: none;
  padding: 7px;
}

#loaded-wrapper .locale-menu li {
  display: inline-block;
  padding: 0;
  margin-right: 0px;
}

#loaded-wrapper .nav-item > li > a {
  padding-bottom: 8px;
  padding-top: 9px;
}

#loaded-wrapper .navbar {
  min-height: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0px;
}

.container {
  max-width: 1300px;
}

#loaded-wrapper .navbar-inverse .container {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  /*background:#282828; border:none;*/;
}

#loaded-wrapper .navbar-nav > li > .dropdown-menu {
  margin-top: 1px;
}

#loaded-wrapper .navbar-toggle {
  /*background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;*/
  float: left;
  /*margin-bottom: 8px;*/
  margin-left: 15px;
  /*margin-top: 8px;
  padding: 9px 10px;
  position: relative;*/
}

#loaded-wrapper .dropdown-menu > li > a {
  line-height: 2.0;
}

#loaded-wrapper .navbar .dropdown-submenu {
  position: relative;
}

#loaded-wrapper .navbar .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 0;
  margin-top: 50px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

#loaded-wrapper .navbar .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

#loaded-wrapper .navbar .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

#loaded-wrapper .navbar .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

#loaded-wrapper .navbar .dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
  left: 100%;
  margin-top: 0;
}

#loaded-wrapper .navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}

#loaded-wrapper .nav-tabs > li > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#loaded-wrapper .page-header {
  border: none;
  padding: 10px 0px 0px;
  margin: 0px;
}

#loaded-wrapper .logo {
  /*margin-left:10px; */
  margin-top: -5px;
}

#loaded-wrapper .logo a {
  text-decoration: none;
}

#loaded-wrapper .support {
  margin-top: -5px;
  margin-bottom: 0px;
}

#loaded-wrapper .support a {
  text-decoration: none;
  font-size: 22px;
}
#loaded-wrapper .supporticon {
  font-size: 22px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #loaded-wrapper .support a {
      text-decoration: none;
      font-size: 17px;
    }
    #loaded-wrapper .supporticon {
      font-size: 17px;
    }
}
#loaded-wrapper .header-branding {
}

/* box modules */
#loaded-wrapper .product_notifications-image {
  float: left;
  margin-top: 8px;
}

#loaded-wrapper .box-products-price {
  font-size: 1.4em;
  font-weight: 200;
}

/* product listings */
#loaded-wrapper .product-special-price {
  color: #FF0000;
}

#loaded-wrapper .product-listing-module-buy-now a {
  text-decoration: none;
}

#loaded-wrapper .products-listing-separator {
  width: 50px;
}

#loaded-wrapper #content-product-listing-category-description-container {
  padding: 0 3px;
}

/* product info page */
#loaded-wrapper .content-products-info-price {
  font-size: 2.4em;
  font-weight: 200;
  margin-bottom: 4px;
}

#loaded-wrapper .content-products-info-reviews-rating-label {
  text-transform: uppercase;
  display: inline;
}

#loaded-wrapper .content-products-info-qty-input {
  width: 10% !important;
  float: right;
  font-weight: bold;
  text-align: center;
}

#loaded-wrapper .content-products-info-qty-label {
  display: inline;
  vertical-align: -30%;
  margin-right: 10px;
}

/* content modules */
#loaded-wrapper .content-upcoming-products-image-tag {
  padding-top: 20px;
}

#loaded-wrapper .content-upcoming-products-text-expected {
  font-size: .9em;
}

#loaded-wrapper .content-upcoming-products-text-price {
  font-size: 1.3em;
}

#loaded-wrapper .content-upcoming-products-text-name {
  line-height: 1.1;
  font-size: 1.3em;
}

#loaded-wrapper .content-featured-products-image-tag {
  padding-top: 20px;
}

#loaded-wrapper .content-featured-products-text-expected {
  font-size: .9em;
}

#loaded-wrapper .content-featured-products-text-price {
  font-size: 1.3em;
}

#loaded-wrapper .content-featured-products-text-name {
  line-height: 1.1;
  font-size: 1.3em;
}

#loaded-wrapper .content-reviews-text {
  padding-top: 4px;
}

#loaded-wrapper .content-recently-visited-text-name {
  font-size: 1.2em;
}

#loaded-wrapper .content-recently-visited-image-src {
  height: 120px;
}

#loaded-wrapper .content-also-purchased-products-text-name a {
  font-size: .8em;
}

/* checkout pages */
#loaded-wrapper .ot-total {
  font-weight: bold;
  font-size: 1.2em;
  color: #428BCA;
}

#loaded-wrapper .module-row-selected {
  background-color: #e6e6e6;
}

#loaded-wrapper .payment-selection span {
  margin-left: 4px;
}

#loaded-wrapper .payment-selection-title {
  font-weight: 200;
}

#loaded-wrapper .content-checkout-payment-methods-table td {
  height: 60px;
}

#loaded-wrapper .content-shopping-cart-image-td {
  width: 50px;
}

#loaded-wrapper .content-shopping-cart-qty-input-td {
  width: 12%;
}

#loaded-wrapper .content-shopping-cart-qty-input {
  text-align: center; width: 67% !important; float: right; margin-right: 26px;
}

#loaded-wrapper .content-shopping-cart-remove-td {
  width: 16px;
}

#loaded-wrapper #shopping-cart-table em { font-size:0.9em; font-style:italic; font-weight:200; }
#loaded-wrapper #content-shopping-cart-order-totals { margin-right:0px; }
#loaded-wrapper .cart-options-div { line-height:1.1; }

#loaded-wrapper .content-checkout-confirmation-qty-td {
  width: 30px;
}

#loaded-wrapper .content-checkout-success-qty-td {
  width: 30px;
}

#loaded-wrapper .content-checkout-listing-blank {
  width: 1px;
  background-image: url('images/pixel_trans.gif');
}

#loaded-wrapper #loading-container {
  position: absolute;
  left: 50%;
  top: 10%;
}

#loaded-wrapper #iloader {
  margin: 100px 0 0 0px;
}

/* QR Code */
#loaded-wrapper #qr-message {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 250px;
  text-align: center;
  background: #f5f5f5;
  padding: 10px 0;
  z-index: 1;
}

#loaded-wrapper .close-qr {
  background-color: #D52607;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
  font-family: verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 16px;
  right: -6px;
  line-height: 13px;
  min-width: 12px;
  padding: 0 3px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  top: -6px;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
}

#loaded-wrapper .fa-bars-mobile {
  display: none;
}

#loaded-wrapper input.navbar-search {
  background: #b2b2b2;
  border: 0 none;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #444444;
  width: 85px;
  padding: 7px 15px 7px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 0 -24px 0 0;
}

#loaded-wrapper input.navbar-search:focus {
  background: #fcfcfc;
  color: #444444;
  width: 150px;
  margin: 0 -24px 0 0;
  outline: none;
}

#loaded-wrapper .navbar-search-icon {
  margin: 0 -25px 0 8px;
  position: relative;
  z-index: 2;
  color: #444444;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #444444;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #444444;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #444444;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #444444;
}

#loaded-wrapper .popover-content {
  padding: 5px 10px;
}

#loaded-wrapper .mobile-portrait-search-input-cover {
  display: none;
}

#loaded-wrapper .breadcrumb {
  margin-bottom: 5px;
}

#loaded-wrapper .table-responsive {
  border: none;
}

#loaded-wrapper .table > thead > tr > th {
  border-bottom: none;
}

#loaded-wrapper table {
  border-collapse: inherit;
}

#loaded-wrapper .navbar-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
}

#loaded-wrapper #search {
  margin-top: 3px;
}

#loaded-wrapper #content-center-main-container h1 {
  margin-left: 0px;
}

#loaded-wrapper .content-products-info-manuf-model {
  padding: 0 0 10px 3px;
  position: initial;
}

#loaded-wrapper .additional-image-container {
}

#loaded-wrapper .pr_gallery li {
  list-style:none;
  float:left;
  margin-right:7px;
  margin-bottom:7px;
  border:1px solid #f5f5f5;
}

#loaded-wrapper .pr_gallery li:hover {
  border:1px solid #f0ad4e;
}

#loaded-wrapper .list-unstyled {
  margin: 0 0 6px 0;
}

#loaded-wrapper .list-unstyled li {
  margin: 6px 0 6px;
}

#loaded-wrapper span.active-cpath {
  font-weight: bold;
}

/* product info page social sharing icons */
#loaded-wrapper .social_wrap {
  margin-left: 0px;
  margin-bottom: 15px;
}

#loaded-wrapper .icon-facebook-text {
  padding-left: 5px;
}

#loaded-wrapper .icon-twitter-text {
  padding-left: 5px;
}

#loaded-wrapper .icon-google-plus-text {
  padding-left: 5px;
}

#loaded-wrapper .icon-linkedin-text {
  padding-left: 5px;
}

#loaded-wrapper .icon-pinterest-text {
  padding-left: 5px;
}

#loaded-wrapper .icon-tumblr-text {
  padding-left: 5px;
}

#loaded-wrapper .btn-google-plus i {
  color: #E04B34;
}

#loaded-wrapper .btn-twitter i {
  color: #00AAF0;
}

#loaded-wrapper .btn-facebook i {
  color: #435F9F;
}

#loaded-wrapper .btn-linkedin i {
  color: #ffffff;
}

#loaded-wrapper .btn-tumblr i {
  color: #444444;
  font-weight: bold;
}

#loaded-wrapper .btn-pinterest i {
  color: #CE1F21;
}

/********************************************************/
/*                7. Error classes                      */
/********************************************************/

#loaded-wrapper .messageStack {
  margin-top: 4px;
}

#loaded-wrapper .message-stack-container {
  padding: 5px 5px 1px 5px;
}

#loaded-wrapper .message-success-container {
  padding: 10px;
}

#loaded-wrapper .show-on-mobile {
  display: none;
}

#loaded-wrapper .show-on-mobile-portrait {
  display: none;
}

/********************************************************/
/*                  8. Utility classes                  */
/********************************************************/
#loaded-wrapper .clear-left {
  clear: left !important;
}

#loaded-wrapper .clear-right {
  clear: right !important;
}

#loaded-wrapper .clear-both {
  clear: both !important;
}

#loaded-wrapper .margin-top {
  margin-top: 10px !important;
}

#loaded-wrapper .small-margin-top {
  margin-top: 4px !important;
}

#loaded-wrapper .mid-margin-top {
  margin-top: 15px !important;
}

#loaded-wrapper .large-margin-top {
  margin-top: 20px !important;
}

#loaded-wrapper .no-margin-top {
  margin-top: 0 !important;
}

#loaded-wrapper .margin-bottom {
  margin-bottom: 10px !important;
}

#loaded-wrapper .small-margin-bottom {
  margin-bottom: 4px !important;
}

#loaded-wrapper .mid-margin-bottom {
  margin-bottom: 15px !important;
}

#loaded-wrapper .large-margin-bottom {
  margin-bottom: 20px !important;
}

#loaded-wrapper .no-margin-bottom {
  margin-bottom: 0 !important;
}

#loaded-wrapper .margin-left {
  margin-left: 10px !important;
}

#loaded-wrapper .small-margin-left {
  margin-left: 4px !important;
}

#loaded-wrapper .mid-margin-left {
  margin-left: 15px !important;
}

#loaded-wrapper .large-margin-left {
  margin-left: 20px !important;
}

#loaded-wrapper .no-margin-left {
  margin-left: 0 !important;
  padding-bottom:5px;
}

#loaded-wrapper .margin-right {
  margin-right: 10px !important;
}

#loaded-wrapper .small-margin-right {
  margin-right: 4px !important;
}

#loaded-wrapper .mid-margin-right {
  margin-right: 15px !important;
}

#loaded-wrapper .large-margin-right {
  margin-right: 20px !important;
}

#loaded-wrapper .no-margin-right {
  margin-right: 0 !important;
}

#loaded-wrapper .float-left {
  float: left !important;
}  /* use bootstrap pull-left instead */
#loaded-wrapper .float-right {
  float: right !important;
} /* use bootstrap pull-right instead */

#loaded-wrapper .align-center {
  text-align: center !important;
} /* use bootstrap text-center instead */
#loaded-wrapper .align-left {
  text-align: left !important;
} /* use bootstrap text-left instead */
#loaded-wrapper .align-right {
  text-align: right !important;
} /* use bootstrap text-right instead */
#loaded-wrapper .valign-middle {
  vertical-align: middle !important;
}

#loaded-wrapper .small-margin-top-neg {
  margin-top: -4px !important;
}

#loaded-wrapper .small-margin-bottom-neg {
  margin-bottom: -4px !important;
}

#loaded-wrapper .small-margin-left-neg {
  margin-left: -4px !important;
}

#loaded-wrapper .small-margin-right-neg {
  margin-right: -4px !important;
}

#loaded-wrapper .margin-top-neg {
  margin-top: -10px !important;
}

#loaded-wrapper .margin-bottom-neg {
  margin-bottom: -10px !important;
}

#loaded-wrapper .margin-left-neg {
  margin-left: -10px !important;
}

#loaded-wrapper .margin-right-neg {
  margin-right: -10px !important;
}

#loaded-wrapper .large-margin-top-neg {
  margin-top: -20px !important;
}

#loaded-wrapper .large-margin-bottom-neg {
  margin-bottom: -20px !important;
}

#loaded-wrapper .large-margin-left-neg {
  margin-left: -20px !important;
}

#loaded-wrapper .large-margin-right-neg {
  margin-right: -20px !important;
}

#loaded-wrapper .with-padding {
  padding: 10px !important;
}

#loaded-wrapper .with-small-padding {
  padding: 4px !important;
}

#loaded-wrapper .with-mid-padding {
  padding: 15px !important;
}

#loaded-wrapper .with-large-padding {
  padding: 20px !important;
}

#loaded-wrapper .with-padding-no-top {
  padding: 0 10px 10px 10px !important;
}

#loaded-wrapper .with-padding-no-bottom {
  padding: 10px 10px 0 10px !important;
}

#loaded-wrapper .with-padding-no-top-bottom {
  padding: 0 10px !important;
}

#loaded-wrapper .small-padding-top {
  padding-top: 4px !important;
}

#loaded-wrapper .padding-top {
  padding-top: 10px !important;
}

#loaded-wrapper .mid-padding-top {
  padding-top: 15px !important;
}

#loaded-wrapper .large-padding-top {
  padding-top: 20px !important;
}

#loaded-wrapper .small-padding-bottom {
  padding-bottom: 4px !important;
}

#loaded-wrapper .padding-bottom {
  padding-bottom: 10px !important;
}

#loaded-wrapper .mid-padding-bottom {
  padding-bottom: 15px !important;
}

#loaded-wrapper .large-padding-bottom {
  padding-bottom: 20px !important;
}

#loaded-wrapper .small-padding-left {
  padding-left: 4px !important;
}

#loaded-wrapper .padding-left {
  padding-left: 10px !important;
}

#loaded-wrapper .mid-padding-bottom {
  padding-top: 15px !important;
}

#loaded-wrapper .large-padding-left {
 /* padding-left: 20px !important; */
}

#loaded-wrapper .small-padding-right {
  padding-right: 4px !important;
}

#loaded-wrapper .padding-right {
  padding-right: 10px !important;
}

#loaded-wrapper .mid-padding-bottom {
  padding-bottom: 15px !important;
}

#loaded-wrapper .large-padding-right {
  padding-right: 20px !important;
}

#loaded-wrapper .no-padding {
  padding: 0 !important;
}

#loaded-wrapper .no-padding-top {
  padding-top: 0 !important;
}

#loaded-wrapper .no-padding-bottom {
  padding-bottom: 0 !important;
}

#loaded-wrapper .no-padding-left {
  padding-left: 0 !important;
}

#loaded-wrapper .no-padding-right {
  padding-right: 0 !important;
}

#loaded-wrapper .full-width {
  width: 100% !important;
}

#loaded-wrapper .three-quarter-width {
  width: 74% !important;
}

#loaded-wrapper .two-third-width {
  width: 65% !important;
}

#loaded-wrapper .half-width {
  width: 49% !important;
}

#loaded-wrapper .third-width {
  width: 32% !important;
}

#loaded-wrapper .quarter-width {
  width: 24% !important;
}

#loaded-wrapper .display-inline {
  display: inline !important;
}

#loaded-wrapper .relative {
  position: relative !important;
}

#loaded-wrapper .absolute {
  position: absolute !important;
}

#loaded-wrapper .absolute-top-right {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

#loaded-wrapper .absolute-top-right-large-padding {
  position: absolute !important;
  top: 20px !important;
  right: 20px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.z-index-1 {
  z-index: 1;
}

/********************************************************/
/*             9. Site Maintenace masking              */
/********************************************************/
.loadmask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: alpha(opacity=50);
  background-color: #333;
  width: 100%;
  height: 100%;
  zoom: 1;
}

.loadmask-msg {
  z-index: 20001;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #6593cf;
  background: #c3daf9;
  padding: 2px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.loadmask-msg div {
  padding: 6px 8px 5px 8px;
  /* background: #fbfbfb url('../../img/loading.gif') no-repeat 5px 5px; */
  background: #fbfbfb;
  line-height: 16px;
  border: 1px solid #a3bad9;
  color: #222;
  font: normal 11px tahoma, arial, helvetica, sans-serif;
  cursor: wait;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.masked {
  /* overflow: hidden !important; */;
}

.masked-relative {
  position: relative !important;
}

.masked-hidden {
  visibility: hidden !important;
}

/********************************************************/
/*              10. Media query styles                   */
/********************************************************/

@media (min-width: 1200px) {
}

@media (min-width: 940px) and (max-width: 1199px) {
  .nav > li > a {
    padding: 10px 6px;
    font-size: 18px;
  }

  #loaded-wrapper #search {
    margin-top: 7px;
  }
}

@media (min-width: 940px) and (max-width: 1024px) {
  #loaded-wrapper #mobile-search {
    margin: 7px 5px 0px 0px;
  }

  #loaded-wrapper input.navbar-search {
    width: 25px;
    padding: 7px 10px 7px 20px;
  }

  #loaded-wrapper input.navbar-search:focus {
    width: 25px;
    background: #b2b2b2;
  }

  #loaded-wrapper .social-nav-gp {
    display: none;
  }

  #loaded-wrapper .social-nav-yt {
    display: none;
  }

  #loaded-wrapper .social-nav-in {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  #loaded-wrapper .show-on-tablet {
    display: block;
  }

  #loaded-wrapper .hide-on-tablet {
    display: none;
  }
  .nav > li > a {
    padding: 10px 6px;
    font-size: 13px;
  }

  #loaded-wrapper input.navbar-search:focus {
    width: 90px;
  }

  #loaded-wrapper #mobile-search {
    margin: 7px 5px 0px 0px;
  }

  #loaded-wrapper input.navbar-search {
    width: 25px;
    padding: 7px 10px 7px 20px;
  }

  #loaded-wrapper input.navbar-search:focus {
    width: 25px;
    background: #b2b2b2;
  }

  #loaded-wrapper .social-nav-gp {
    display: none;
  }

  #loaded-wrapper .social-nav-yt {
    display: none;
  }

  #loaded-wrapper .social-nav-in {
    display: none;
  }

  #loaded-wrapper #search {
    margin-top: 7px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #loaded-wrapper .show-on-mobile {
    display: block;
  }

  #loaded-wrapper .hide-on-mobile {
    display: none;
  }

  #loaded-wrapper #content-center-main-container h1 {
    padding-top: 10px;
    margin-left: 0px;
  }

  #loaded-wrapper #mobile-search {
    margin: 7px 5px 0px 0px;
  }

  #loaded-wrapper .popover {
    min-width: 360px;
    max-width: 360px;
  }

  #loaded-wrapper .popover.left {
    margin-left: 10px;
  }

  #loaded-wrapper .fa-sales-phone {
    width: 28px;
    padding: 4px 30px 0px;
  }

  #loaded-wrapper .fa-sales-email {
    width: 28px;
    padding: 0px 34px;
  }

  #loaded-wrapper .fa-site-slogan {
    width: 28px;
    padding: 4px 34px 0px;
  }

  #loaded-wrapper .header-fa-icons {
    float: left !important;
    display: inline-block;
  }

  #loaded-wrapper .branding-sps {
    margin: -5px 0 15px;
  }

  #loaded-wrapper input.navbar-search:focus {
    width: 90px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #loaded-wrapper .show-on-mobile {
    display: block;
  }

  #loaded-wrapper .hide-on-mobile {
    display: none !important;
  }

  #loaded-wrapper #content-center-main-container h1 {
    padding-top: 10px;
    margin-left: 0px;
  }

  #loaded-wrapper #mobile-search {
    margin: 7px 5px 0px 0px;
  }

  #loaded-wrapper .popover {
    min-width: 280px;
    max-width: 280px;
  }

  #loaded-wrapper .popover.left {
    margin-left: 0px;
  }

  #loaded-wrapper .fa-sales-phone {
    width: 28px;
    padding: 4px 24px 0px;
  }

  #loaded-wrapper .fa-sales-email {
    width: 28px;
    padding: 0px 25px;
  }

  #loaded-wrapper .fa-site-slogan {
    width: 28px;
    padding: 4px 26px 0px;
  }

  #loaded-wrapper .header-fa-icons {
    float: left !important;
    display: inline-block;
  }

  #loaded-wrapper .branding-sps {
    margin: -5px 0 15px;
  }

  #loaded-wrapper .topnav .locale-header-dropdown {
    margin-top: 9px;
  }

  #loaded-wrapper .topnav .account-dropdown {
    margin-top: 9px;
  }

  #loaded-wrapper .topnav .cart-dropdown {
    left: -125px;
    margin-top: 9px;
  }

  #loaded-wrapper .topnav {
    min-height: 35px;
  }

  #loaded-wrapper .topnav .nav-item {
    padding: 7px 0 0 35px;
  }
}

@media (max-width: 479px) {
  body {
    overflow-x: hidden !important;
  }

  #loaded-wrapper .show-on-mobile {
    display: block;
  }

  #loaded-wrapper .fa-bars-mobile {
    display: inline-block;
  }

  #loaded-wrapper .hide-on-mobile {
    display: none;
  }

  #loaded-wrapper .hide-on-mobile-portrait {
    display: none !important;
  }

  #loaded-wrapper .locale-menu > li {
    float: left !important;
  }

  #loaded-wrapper #content-center-main-container h1 {
    padding-top: 10px;
    margin-left: 0px;
  }

  #loaded-wrapper .topnav {
    min-height: 35px;
  }

  #loaded-wrapper .topnav .nav-item {
    padding: 7px 0 0 25px;
  }

  #loaded-wrapper .topnav-container {
    float: left;
    margin-left: -12px;
  }

  #loaded-wrapper #mobile-search {
    margin: 7px 5px 0px 0px;
  }

  #loaded-wrapper input.navbar-search {
    width: 25px;
    padding: 7px 10px 7px 20px;
  }

  #loaded-wrapper input.navbar-search:focus {
    width: 25px;
    background: #b2b2b2;
  }

  #loaded-wrapper .popover {
    min-width: 180px;
    max-width: 180px;
  }

  #loaded-wrapper .popover.left {
    margin-left: -10px;
  }

  #loaded-wrapper .fa-sales-phone {
    width: 28px;
    padding: 4px 9px 0px;
  }

  #loaded-wrapper .fa-sales-email {
    width: 28px;
    padding: 0px 8px;
  }

  #loaded-wrapper .fa-site-slogan {
    width: 28px;
    padding: 4px 13px 0px;
  }

  #loaded-wrapper .header-fa-icons {
    float: left !important;
    display: inline-block;
  }

  #loaded-wrapper .branding-sps {
    margin: -5px 0 15px 0;
  }

  #loaded-wrapper .topnav .locale-header-dropdown {
    left: -24px;
    margin-top: 9px;
  }

  #loaded-wrapper .topnav .account-dropdown {
    left: -20px;
    margin-top: 9px;
  }

  #loaded-wrapper .topnav .cart-dropdown {
   // left: -150px;
    margin-top: 9px;
  }

  #loaded-wrapper .mobile-portrait-search-input-cover {
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 11px;
    top: 9px;
    width: 30px;
    z-index: 1;
    display: block;
  }

  #loaded-wrapper .mobile-expand {
    margin: 0 -10px;
  }

  .row {
    margin-right: -8px;
    margin-left: -8px;
  }

  #loaded-wrapper .product-listing-module-pagination {
    text-align: center !important;
    margin-bottom:10px;
  }

  #loaded-wrapper .product-listing-module-pagination .pull-left{
    float:none !important;
  }

  #loaded-wrapper .product-listing-module-pagination .pull-right{
    float:none !important;
  }
}

.main_c{float:right;}
.left_c{float:right; padding-left: 0;}
@media (max-width: 767px) {
.main_c{float:none;}
.left_c{float:none;}

}
.add_img_li{width:100px;float:left;display:inline;}
@media (min-width: 768px) {
.add_img_li{width:100px;display:inline;}
}
#loaded-wrapper .shadow {

    margin-top: 20px !important;
    padding: 0 4px;
}
.bor_rad {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 6px;
    margin-top: 40px;

}
 .main-border{border:1px solid #cccccc;}

.shipping_add{float:left;width:70%;}
@media (max-width: 767px) {
.shipping_add{width:100%;}
}
.shipping_add1{float:left;width:30%;}
.featur_p_r{height:290px;}
@media (max-width: 767px) {
.featur_p_r{height:305px;}
.shipping_add1{width:100%;}
.featur_p_r{margin-top:6px;}
.btn-cover{padding-bottom:5px !important;}
}
.cleft_c{margin-left: 4px;}
@media (max-width: 767px) {
.cleft_c{margin-left:-4px;}
.product-name{margin-top:8px}
}
.middlecontentborder{border:6px solid #D3D3D3;padding-top:10px;border-radius:5px;}
.tab-content { overflow: hidden; padding: 10px; border:1px solid #d3d3d3; text-align: left; }
.price_mainpage{ color: #222222; font-weight: bold; }
.price_mainpage s { color: #222222; font-weight: plane; }
.pricing-row{padding-bottom:10px;}
.lead s{font-size: 18px;color:#222222;}
.product_info_price_s{font-size:18px;}
.rew-wis{padding:0px;}
.cart-fix{padding-left:10px;padding-right:10px}
.image_cat_cover{height:135px;overflow:hidden;}
.cat-name{height:48px;overflow:hidden;}
.cat-name h3, .cat-name h3 a{font-size:18px;font-weight:600;margin:0px;}
.product-listing-module-items .thumbnail{padding:5px !important;}
.categorieslink li a:hover{color:#A5310B !important;text-decoration:underline;}
.box-heading{background-color: #24529e;; color: rgb(255, 255, 255); font-size: 15px; font-weight: bold; padding: 3px 8px;text-transform:uppercase;border-top-right-radius:5px;border-top-left-radius:5px;}
#content-left-container .box-conten, #content-right-container .box-conten{background-color: #F5F5F5;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.total-price{text-align:center;font-size:17px;padding:8px;}
.specials{height:165px !important;overflow:hidden}
.main_cat{padding:5px;}
.sub_cat{padding:3px;margin-left:15px;}
.productSpecialPrice{color:#cc0000;}
.cart-button{width:100%;}
.product-block{width:100px !important;}
.name-box{text-align:center;height: 50px;overflow: hidden;font-size: 15px;}
.pageHeading{margin-top: 10px;}
.price_mainpage{font-size:16px;}
.products_blurb{height:50px;overflow:hidden;}
.products_blurb p{font-size:15px;margin:0px;}
.product-name{height:250px;overflow:hidden;text-align:center;font-size: 17px;}
.manu-label b{vertical-align: -moz-middle-with-baseline;vertical-align: -webkit-middle-with-baseline;}
.manu-label{vertical-align: -moz-middle-with-baseline;vertical-align: -webkit-middle-with-baseline;margin-top:5px;}
.product-listing-module-pagination{padding:8px;}

.site-logo{ max-width: 100% !important; height: auto; padding-top:5px;}
.star-checked { color: orange;}
.star-unchecked {color: #ccc;}
.carousel-control.left{background-image:linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 30%) !important;text-shadow: none;opacity:1}
.carousel-control.right{background-image:linear-gradient(to left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 30%) !important;text-shadow: none;opacity:1}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{left:10%;}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{right:1%;}
.carousel-indicators { bottom: 0px; margin-bottom: 0; }
.nav.nav-tabs{margin-top:15px;}
.price_mainpage{padding:0px;padding-top:10px;}
.prodname a, .product-listing-module-name p{font-size:15px;}
@media (min-width: 450px) and (max-width: 767px) {
	#content-center-container .row{margin:0px;}
}


.product-listing-module-items .itembox .thumbnail{margin-bottom:17px !important;;}
.category_desc{color:#6C6C6C}
.text_hover a:hover{color:#CB2121;}
.table-content{padding-left:0px !important;margin-left:0px !important;}
.topic_hover a:hover{color:#ff0000;}
.topic_text{float:right;text-align: right;padding-right:6px;}
.topic_text_up{float:right;text-align: right;}
.topic_hover{float:right;}
.mob-heading{font-size:36px;}
.content-shopping-cart-qty-input-td .form-control{text-align:center;}
.articles-list a {color:#5E5E5E;}
.articles-list a:hover {color:#A5310B !important;;}
.content-price-td, .content-price-th{text-align:center;}
.prodname-show-on-mobile { visibility: hidden; }
@media (min-width: 480px) {.prodname-show-on-mobile-tr { display: none; }
   .content-shopping-cart-total-price-td{display:none}
}
.btn-checkout-cart{text-align:right;}
.order-totalouter{padding:0px}
.uparticalebox{margin-top:15px;}
.topic_details{padding-left:0px !important;margin-left:0px;}
.main-outer{padding:5px;margin-bottom:10px;padding-left:0px;margin-left:1px;}
.footer-links li a:hover{text-decoration:none;}
@media (max-width: 767px) {
	#content-center-container{padding:0px;}
	.product-listing-module-items .itembox{padding:4px;}
	.list-heading{font-size:32px;}
	.footer-adv{display:none;}
	.logo a { display: inline-block; }
	.logo { text-align: center; }
	.fix_gap{padding-top:0px;padding-bottom:15px}
	#content-left-container{clear:both}
	.product-listing-module-items .with-padding{padding:2px;}
	.topic_text{padding-left:0px;float:left;}
	.topic_hover{float:left;}
	.mob-heading{font-size:20px !important;}
	.drop_down{margin-bottom:10px;}
	.content-shopping-cart-qty-input-td .form-control{width:40px !important;padding:0px;}
	.content-shopping-cart-prodname-td a h4{font-size:16px;}
	.update-btn-cart .btn-success{padding:6px 12px;font-size:14px;}
	.topic_text_up{text-align:left;padding:0px;margin-top:4px;}
	.topic_text{text-align: left;margin-top:4px;}
	.box-head{font-size:25px}
	.upcoming-article{padding:0px;}
	.manu-label{padding:0px;}
	.price_mainpage .lead, .price_mainpage .lead s{font-size:15px;}
	#content-right-container{padding-left:0px;}
	.main-div{margin-left:0px !important;}
	.frnd-detail{margin-top:10px;margin-bottom:10px;}
	.prod-detail{margin-top:10px;}
	/*.heading{text-align:center;} */
	.email-input{max-width:100% !important;margin-bottom:10px;}
	.req-infm{top:-15px;}
	.btn-lg, .btn-group-lg > .btn {font-size:14px;margin-right:5px;}
	.prod-name{top:-65px;display:inline;right:-53px;}
	.prod-price{top:-65px;display:inline;right:-53px;}
	.cart-dropdown{margin-left:-160px !important;}
	.account-dropdown{margin-left:-50px;}

}
/*CSS for Cart page Starts*/
@media (max-width: 479px) {
  .mob-crtimg{float:left;margin-right: 5px !important;}
  .mob-check{float:left;margin-right: 5px !important;}
  .mob-crtname{float:left;}
  .content-price-td, .content-price-th{text-align:right;}
  .buttom-td td { border-top: none !important; }
  .total-label { color: #a30001; font-size: 16px; }
  .content-shopping-cart-qty-input-td .form-control{width:70px !important;padding:0px;}
  .prodname-show-on-mobile { visibility: visible; }
  .content-shopping-cart-total-price-td{display:block;}
  .btn-checkout-cart{text-align:center;}
  .upcoming-article{padding:0px 7px;}
}
.text:hover{color:#CB2121 !important;}
.desc_tag{padding-top:5px;}
.article_topic{padding-top:5px;padding-left:0px;margin-bottom:5px;}
.article-box-head{text-align:left;float:left;padding-right:10px;padding:0px;margin-left:0px !important;}
.box-information_pages-ul li a{color: #5E5E5E;}
.box-information_pages-ul li a:hover{color:#A5310B !important}
.btn-sm, .btn-group-sm > .btn {padding:6px 15px}
.listclass li {margin-bottom:5px;}
.image-top a{margin-top:20px;}

/*CSS for Cart page EOF*/
.sign-in{font-size:15px;background-color:#ffffff !important;color:#000000 !important;}
.acc_address{width:100%;}
.password-account{min-height:150px !important;}
.create_address{min-height:300px !important;}
@media (max-width: 767px) {
.acc_address{width:unset;}
.create_address{width:unset;}
.create-account-div{padding:15px;}
.login-div{padding:0}
}
.middlecontent {border: 2px solid #CCC; padding: 20px; border-radius: 10px; height: 85px;}
.note.note-success { border-color: #4a8564; background: #b0ebca; color: #3c763d; }
.note { margin-bottom: 20px; padding: 15px; border-left: 3px solid;}
.note-success h4{color: #3c763d;font-weight: 500 !important; }
.note.note-danger { border-color: #986e6e; background: #fbd1d1; color: #a94442; }
.note.note-danger h1, .note.note-danger h2,  .note.note-danger h3,  .note.note-danger h4,  .note.note-danger h5,  .note.note-danger h6 { color: #a94442; }
.note.note-warning { border-color: #9d9080; background: #fff2e3; color: #8a6d3b; }
.note.note-warning h1, .note.note-warning h2,  .note.note-warning h3,  .note.note-warning h4,  .note.note-warning h5,  .note.note-warning h6 { color: #8a6d3b; }
.note-info-text { color: #6196b0; }

.faqTitle .fa{font-size:15px;}
.faqTitle a{font-size:16px;font-weight:600;}
.panel-heading-rightbox{padding:0px;}
.panel-heading-title{padding:10px 15px}
.panel-heading-title:before{content: "\f107";font-family: FontAwesome;float:right}
.loginpageminheight{
	min-height:210px !important;
}

/*coustom css after BS4 upgrade starts*/
.thumbnail{border: 1px solid #ddd;}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.product-listing-module-items.item-outer{padding-left:4px;padding-right:3px;}
.product-listing-module-items.category-outer{padding-left:4px;padding-right:3px;}
.personal-div{padding-right:0px;}
.navbar .navbar-nav li a{color:#676767;}
@media(max-width:767px){
.navbar .navbar-nav li a{color:#ffffff;}
}
.nav > li > a { position: relative; display: block; padding: 10px 15px; font-size: 17px; }
.navbar .navbar-nav li a:hover{text-decoration:none;color:#019967}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar .navbar-nav li .dropdown-menu > li > a{color:#000000;}
.navbar .navbar-nav > .show > a,
.navbar .navbar-nav > .show > a:hover,
.navbar .navbar-nav > .show > a:focus {
    color: #6A6767;
    /*background-color: #ffffff;*/
}
.navbar.navbar-expand-md{padding:0px;}
.dropdown-toggle::after{margin-left: .100em;vertical-align: 0.100em;}
.product-info .product-image .customNavigation span.next{right:0px !important;}
.nav-tabs{border-bottom:none !important;}
p{margin-bottom: 10px;}
.product-block .thumbnail{text-align:center;}
#mainImage{text-align:center;}
.btn-default { color: #333; background-color: #fff; border-color: #ccc; }
#LargeImage .modal-body{text-align:center;}
.price-details-page{font-size:18px;}
.module-heading{margin-top:-8px;}
.product-listing-module-items img{border:none;}
.btn-primary { color: #fff; background-color: #428bca; border-color: #357ebd; }
.btn-primary:hover { color: #fff; background-color: #3276b1; border-color: #285e8e; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { color: #495057; /* background: #d3d3d3 none repeat scroll 0 0; */ border-color: #dee2e6 #dee2e6 #fff; }
.nav-tabs .nav-link:hover {border-color: #e9ecef #e9ecef #dee2e6;}
.control-label{display:inline;}
.control-input{display:inline-block;}
.content-container{min-height:450px;}
/*.main-breadcrumb .breadcrumb{text-align: right;float: right;margin-bottom: 25px !important;}
.breadcrumb-product_info .breadcrumb{margin-bottom:5px !important}
.breadcrumb-article_info .breadcrumb{margin-bottom:5px !important}
@media(min-width:767px){
  .with-sidebar-page .module-heading{position: absolute;top: -85px;z-index: 1;margin-bottom: 22px;left:-25%}
  .no-sidebar-page .module-heading{position: absolute;top: -85px;z-index: 1;margin-bottom: 22px;}
}  */
/*coustom css after BS4 upgrade eof*/





/*header section starts*/
.container-pageheader{margin-bottom:15px;}
.navbar{background-color: #ffffff; }
.dropdown.show .multi-level li a:hover{color: #019967 !important;; padding-left: 30px; transition: all 300ms linear; text-decoration: none;}
.breadcrumb{padding-top:0px;background-color:transparent;}
@media(min-width:993px){
 .searchbox{margin-top: 20px;}
 .mob-phone-head{margin-top: 20px;}
}
@media(max-width:992px){
  .mob-phone-head{margin-top: 8px;}
}
@media(max-width:767px){
  .navbar{background-color: #24529E; }
  .sticky-mob-header{position:fixed;top:0%;z-index:9999;width:100%;}
}
@media(max-width:479px){
  .container-pageheader{padding-left:8px;padding-right:8px;}
}
.page-header{box-shadow: 1px 2px 5px #ccc;}
/*header section eof*/
/*footer section starts*/
@media(max-width:767px){
  #footer{padding:0px}
  .footer-mobile-block{padding-left:0px;}
  #collapsibleNavbar{background-color:#24529E;border-top:1px solid #ffffff;}
  .navbar-nav li:hover{background-color:#92999e;border-left:5px solid #428BCA;}
.navbar-nav li a:hover{color:#ffffff !important;}
}
/*footer section eof*/



/*** new css ***/
.img-thumbnail {border:none;}

#productMain h1{font-size:28px;}
.priceclass{font-size:18px;}
.page-item.active .page-link {background-color: #24529e;}
.btn-success {background-color: #428BCA;border-color: #428BCA;}
.btn-success:hover{background-color: #428BCA;border-color: #428BCA;}
.navbar-toggler-icon{color:#fff;}
.login-top{margin-top:-10px !important;}
.wishprodname a:hover{text-decoration:none;}
@media (max-width: 767px) {
  .dropdown.show .multi-level li a:hover {
      color: #ffffff !important;
   }
   .buy-btn-div{padding:0px;}
}
.sub-desktop {
    position: absolute !important;
    top: 86% !important;
    left: 4% !important;
    width: 325px;
    padding-left: 10px;
    background-color: #ffffff;
    z-index: 1;
    max-height: 274px;
    overflow-y: scroll;
    margin-top:0px !important;
}
.dropmenu li:hover ul, .dropmenu li:hover div {
    display: block;
}
.sb-container {
    overflow: hidden;
    padding-right: 10px;
    }
.sb-scrollbar {
    position: absolute;
    right: 0;
    height: 30px;
    width: 10px;
    border-radius: 10px;
    background: rgba(53, 52, 52, 0.5);
}
/*** end new css ***/
.user-create:before{content: "\f007"; font-family: FontAwesome;margin-right:10px;}
.user-login:before{content: "\f084"; font-family: FontAwesome;margin-right:10px;}
.user-login{padding-top:10px;padding-bottom:10px;}
.user-create{padding-top:10px;padding-bottom:10px;}
.control-label{display:inline-block;}
.login-email{max-width:100% !important;display:inline-block;}
.help-block{display:inline-block;}
.create-account-div .well{height:292px;}
.banner-image-div{max-height:200px;overflow:hidden;}


.shippingtitletotal, .shippingpricetotal {
    color: #1C76DF;
}
.fix_heading{padding:0px;}
.quantity_box_up{position:absolute;padding:2px 5px;border-top-left-radius: 0;height: 20px;border-bottom-right-radius: 0px;}
.quantity_box_up .fa-angle-up{vertical-align:super;}
.quantity_box_down .fa-angle-down{vertical-align:super;}
.quantity_box_down{position:absolute;padding:2px 5px;top:47%;height:20px;border-top-left-radius: 0px; border-bottom-left-radius: 0; border-top-right-radius: 0;}
.shipping_name_label{ width: 70% !important; display: inline-block; }
.show-class.intro:not(.collapsed):after{content:"\f106";font-family: FontAwesome;float:right;font-size:30px;margin-top:-38px;}
.show-class:not(.intro):after{content:"\f107";font-family: FontAwesome;float:right;font-size:30px;margin-top:-38px;}

.show-class.intro.collapsed:after{content:"\f107";font-family: FontAwesome;float:right;font-size:30px;margin-top:-38px;}


.article-title a{color:#000000;}
.article-title a:hover{color:#ff0000;}


.heading1 {color:#9F9F9F !important;}
.heading1 a{color:#9F9F9F !important;}
.more-link {
    display: inline-block;
    margin: 0;
    padding: .5em 1em;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-size: .9375rem
}
.well-box:hover{box-shadow: 0 1px 3px !important;transition: box-shadow .2s;}
.well-box a{color:#000;}
.model-class{height:30px;}


.title-well-box{font-family: 'Open Sans', sans-serif;}



.fdm_file_cat{padding:5px;}
.fdm-file-div{border:1px solid #ddd;}
.main_fdm_div p{padding-left:10px;}
.main_fdm_div h1{padding-left:10px;}
.sign-in-btn{text-align:right;}
@media (max-width: 767px) {
.sign-in-btn{margin-top: -35px;}
}
.history-div p{margin-left:8px !important;}
.centerdiv{text-align:center;}
.btn-compare{background-color:#000000 !important;color:#FFFFFF !important;}
#comp_click { display: inline-block;}
.compare_btn_section{float:right;margin-right:50px;}
.compare_alert { position: fixed; width: 100%; z-index: 91; text-align:center !important; }
.compare_alert a{color:#F7E503 !important;}
.compare_alert.alert-success { background-color: #55c65e; border: 1px solid #48b151; }
.compare_alert.alert { color: #fff; font-weight: bold; padding: 10px 10px 13px; border-radius: 0; text-shadow: 1px 1px 1px rgba(0,0,0,0.3); }


/* The container */
.checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.newcheckmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid;
}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .newcheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .newcheckmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.newcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .newcheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .newcheckmark:after {
  left: 8px;
  top: 1px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.radiocontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .radiomark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .radiomark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .radiomark:after {
	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
@media(min-width:993px){
  .footer-logobox{width:200px;}
}
.cc-cvc{width:50% !important;}
.cardcvvnum .input-group{width: 90%;}
#x_card_code{width:50% !important;}
.custom-radio-container img{height: 23px; width: 33px;}
.calculate-shipping-box .select2-container{
	width:35% !important;
	text-align:left;
}
@media(max-width:767px){
	.calculate-shipping-box .select2-container{
		width:47% !important;
		text-align:left;
	}
}